<nav class="navbar navbar-expand-lg navbar-custom ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/welcome">
  </a>
  <div class="collapse navbar-collapse order-2" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome">Random</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/breed-selector">Breed-Selector</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav ml-auto order-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</nav>
