
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
  <i class="fas fa-times back-icon" (click)="goBack()"></i>
  <div class="container">
    <h1 class="title">Registration Form</h1>
    <div class="form-grid">
      <div class="input-group" [ngClass]="{'error-input': submitted && errorFields.includes('Firstname')}">
        <label for="first">Firstname:</label>
        <input type="text" id="first" name="first" [(ngModel)]="first"   class="lt">
        <div *ngIf="submitted && errorFields.includes('Firstname')" class="error-message">Please enter your firstname</div>
    </div>
      <div class="input-group">
        <label for="last">Lastname:</label>
        <input type="text" id="last" name="last" [(ngModel)]="last" class="lt">
        <div *ngIf="submitted && !last" class="error-message">Please enter your lastname</div>
    </div>
    <div class="input-group" [ngClass]="{'error-input': submitted && !age}">
      <label for="age">Age:</label>
      <input type="text" id="age" [(ngModel)]="age" (keydown)="numberOnly($event, 'age')" name="age"  class="lt">
      <div *ngIf="submitted && !age" class="error-message">Please enter your age</div>
  </div>

      <div class="input-group" [ngClass]="{'error-input': submitted && !gender}">
        <label for="gender">Gender:</label>
        <select id="gender" [(ngModel)]="gender" class="gender"  class="lt">
            <option value="">Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="LGBTQ+">LGBTQ+</option>
        </select>
        <!-- เพิ่มเงื่อนไขใหม่ใน *ngIf เพื่อแสดงข้อความเมื่อไม่ได้เลือกเพศ -->
        <div *ngIf="submitted && !gender" class="error-message">Please select gender</div>
    </div>
          <div class="input-email input-group" [ngClass]="{'error-input': submitted && !email}" >
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" class="email">
            <div *ngIf="submitted && !email" class="error-message">Please enter your email</div>
        </div>
        <div class="input-phone input-group" [ngClass]="{'error-input': submitted && !phone}">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" [(ngModel)]="phone" (keydown)="numberOnly($event, 'phone')" name="phone"  class="phone">
          <div *ngIf="submitted && !phone" class="error-message">Please enter your phone</div>
      </div>
          <div class="input-password input-group">
            <label for="pass">Password:</label>
            <input type="password" id="pass" [(ngModel)]="pass" class="pass">
            <div *ngIf="submitted && (!pass || pass.length < 8)" class="error-message">Password must be at least 8 characters</div>
          </div>
          <div class="input-confirmpassword input-group">
            <label for="confirm_pass">Confirm Password:</label>
            <input type="password" id="confirm_pass" [(ngModel)]="confirm_pass" name="confirm_pass" class="confirm_pass">
            <div *ngIf="submitted && (!confirm_pass || confirm_pass.length < 8)" class="error-message">Please enter the code correctly.</div>
          </div>

      <p class="error-message">{{errormessage}}</p>
      <div class="button-container">
        <button type="submit" (click)="adduser()">register</button>
        <button type="button" (click)="clearForm()">Cancel</button>
      </div>
    </div>
  </div>
</body>


